html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  height: 52px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 0;
  outline: none;
}
.btn-primary {
  color: #212353;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  background-color: #FFFFFF;
}
.btn-secondary {
  background: #9C69E2;
  color: #FFFFFF;
}
.btn-tranparent {
  padding: 0;
  color: #212353;
  letter-spacing: 0.005em;
}

.text {
  color: #4B5D68;
}

.heading {
  color: #212353;
}

html {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 10px;
}

.header {
  padding-top: 20px;
  margin-bottom: 100px;
  background: transparent;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  font-size: 16px;
}
.header-item {
  margin-right: 40px;
  font-weight: 500;
  line-height: 25.6px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header-item:hover {
  font-weight: 700;
}
.header-logo {
  display: flex;
  align-items: flex-end;
}
.header-image {
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
}
.header-image__round {
  height: 20px;
  background: #9c69e2;
}
.header-image__rectangle {
  height: 35px;
  background: #f063b8;
}
.header-button i {
  color: #9C69E2;
  margin-left: 10px;
}

.hero {
  margin-bottom: 150px;
}
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-content {
  max-width: 645px;
}
.hero-heading {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 8rem;
  line-height: 110%;
  margin-bottom: 50px;
}
.hero-desc {
  max-width: 380px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 50px;
}
.hero-image img {
  transform: scale(1.75);
}

.introduce {
  margin-bottom: 100px;
}
.introduce-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
.introduce-content {
  max-width: 475px;
  margin-right: 93px;
  margin-left: 63px;
}
.introduce-heading {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 40px;
}
.introduce-desc {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 160%;
}

.feature {
  margin-bottom: 150px;
}
.feature-header {
  text-align: center;
  max-width: 584px;
  margin: 0 auto;
}
.feature-header h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 30px;
}
.feature-header p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 70px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 50px;
}
.feature-item {
  position: relative;
}
.feature-image {
  position: absolute;
  top: 25%;
  z-index: 20;
}
.feature-image img {
  min-width: 232px;
}
.feature-content {
  width: 442px;
  height: 358px;
  background: rgba(104, 201, 186, 0.1);
  border-radius: 50px;
  transform: translateX(23%);
  padding-left: 160px;
  padding-top: 30px;
}
.feature-content h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Helvetica", "Arial", sans-serif;
}
.feature-content p {
  max-width: 220px;
  min-height: 190px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 20px;
}
.feature-content__violet {
  background: rgba(156, 105, 226, 0.1);
}
.feature-content__pink {
  background: rgba(240, 99, 184, 0.1);
}
.feature-content__blue2 {
  background: rgba(45, 156, 219, 0.1);
}

/*# sourceMappingURL=app.css.map */
